.ProfileContainer {
    position:relative;
    top:5%;
    height:60%;
}

.ProfileButton {
    position: relative;
    top: 10%;
    left: 50%;

    width: 65%;
    height:75px;

    
    border-radius: 25px;
    border-style:solid;
    border-color:lightgrey;
    background-color:#e8e5e5;

    transform: translate(-50%, -50%);
}

.ProfileButton + .ProfileButton {
    margin-top:15px;
}

.ProfileName {
    padding-left:20px;
    padding-right:20px;
    font-family: sans-serif;
    font-weight:300;
    font-size:20pt;

    position:relative;
    left:1%;
}

.ProfileIcon {
    position:relative;
    bottom:5%;
    left:1.5%;

    vertical-align: middle;
    border-radius: 20px;
}

.ProfileDesc {
    position:relative;
    left:1%;

    font-family:Montserrat;
    font-weight:400;
    font-style:italic;
}

.LastSeen {
    float:right;
    position:relative;
    top:15%;
    right:2%;

    font-family:Montserrat;
    font-weight:200;

    -webkit-text-stroke: 1px rgb(113, 110, 110);
}


.NavigationLink {
    position:relative;
    top:50px;

    display:inline-block;
    position:relative;
    bottom:100px;
}

.NavigationButton {
    width:50px;
    height:50px;

    margin:5px;

    font-size:20pt;
    font-family: Montserrat;

    border-radius:10px;
}